*
{
	margin:0px;
	padding:0px;
}
body {
  margin:auto;
  color:white;
}
#wrap
{
	border:1px solid black;
	height:1000px;
	margin:auto;
}
#header
{
	background-color:transparent;
	height:80px;
	padding: 1.5em 0;
	font-family:'magneto', sans-serif;
	padding-left:15px;
}

.banner 
{
  background: url(../images/7.jpg) no-repeat;
  background-size: cover;
  min-height:750px;
}

.navbar ul
{
	list-style-type:none;
	float:right;
	
}
.navbar ul li
{
	background-color:transparent;
	line-height:35px;
	width:180px;
	float:left;
	color:white;
	height:35px;
	text-align:center;
	position:relative;
	font-size:25px;
	font-family:magneto;
}
.navbar ul li a
{
	text-decoration:none;
	color:white;
	display:block;
}
.navbar ul li a:hover
{
	color:white;
}
.navbar ul ul
{
	position:absolute;
	display:none;
}
.navbar ul li:hover>ul
{
	display:block;
}